<%= form_for(@kid) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<%= f.label :fname %>
	<%= f.text_field :fname %>
	
	<%= f.label :mname %>
	<%= f.text_field :mname %>
	
	<%= f.label :lname %>
	<%= f.text_field :lname %>
	
	<%= f.label :dateofbirth %>
	<%= f.date_field :dateofbirth%>
</div>
<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>